services:
  opengrades:
    image: suufi/mitopengrades:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - web
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    environment:
      MONGODB_CONNECTION_URI: ${MONGODB_CONNECTION_URI}
      MIT_OIDC_WELLKNOWN: ${MIT_OIDC_WELLKNOWN}
      MIT_OIDC_CLIENT_ID: ${MIT_OIDC_CLIENT_ID}
      MIT_OIDC_CLIENT_SECRET: ${MIT_OIDC_CLIENT_SECRET}
      MIT_OIDC_AUTHORIZATION_ENDPOINT: ${MIT_OIDC_AUTHORIZATION_ENDPOINT}
      MIT_OIDC_ISSUER: ${MIT_OIDC_ISSUER}
      MIT_API_CLIENT_ID: ${MIT_API_CLIENT_ID}
      MIT_API_CLIENT_SECRET: ${MIT_API_CLIENT_SECRET}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      AUTH_TRUST_HOST: ${AUTH_TRUST_HOST}
      ELASTIC_SEARCH_URI: ${ELASTIC_SEARCH_URI}
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_ACCESS_KEY_ID: ${MINIO_ACCESS_KEY_ID}
      MINIO_SECRET_ACCESS_KEY: ${MINIO_SECRET_ACCESS_KEY}
      MINIO_BUCKET_NAME: ${MINIO_BUCKET_NAME}
      MINIO_REGION: ${MINIO_REGION}
    volumes:
      - ./public:/app/public

  nginx:
    image: nginx:mainline-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web
    volumes:
      - ./public:/usr/share/nginx/html
      - /home/suufi/.deploy/nginx:/etc/nginx/conf.d
      - /etc/ssl:/etc/nginx/ssl:ro
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - opengrades



networks:
  web:
    driver: bridge
